form(id="swim-form" ng-submit="saveEmployees()")
	include ../nav.jade
	div(class="row")
		div(class="col-md-6 col-sm-12 col-md-offset-3")
			div(class="page-header")
				h1 Manage Employees
			button(class="btn btn-primary" ng-click="addEmployee()" type="button" ng-disabled="loading")
				span(ng-show="!loading") Add Employee
				span(ng-show="loading")
					i(class="fa fa-spinner fa-pulse") Please Wait
			ul(class="list-group")
				li(ng-repeat="employee in employees" class="list-group-item")
					button(ng-click="removeEmployee($index)" type="button" class="close")
						span &times;
					div(class="form-group")
						input(class="form-control" type="text" ng-model="employee.name" ng-model-options="{ updateOn: 'blur' }" ng-change="updateEmployee($index)" required)

div(class='row')
	pre
		code()
			{{ data }}