div(class="row")
    div(class="page-header")
        h1 Team {{ groupid }}
        a(href="/team/{{groupid}}/member")
            button(class="btn btn-success btn-large") Add New Team Member

    ul(class="media-list")
        li(
            class="media"
            ng-repeat="member in group")
            div(class="media-left")
                a(href="/team/{{groupid}}/member/{{member.id}}")
                    img(class="media-object" src="/img/default_avatar.png" style="width: 64px; height: 64px;")
            div(class="media-body")
                h4(class="media-heading") {{ member.data.name }}
                
div(class='row')
    pre
        code()
            {{ data }}