nav(class="navbar navbar-inverse navbar-fixed-top")
	div(class="container-fluid")
		div(class="navbar-header")
			a(href="/")
				span(class="navbar-brand") 'corePHP' Swim
		div(class="navbar-collapse collapse")
			ul(class="nav navbar-nav")
				li
					a(href="/team/corephp") Team