nav(class="navbar navbar-inverse navbar-fixed-top")
	div(class="container-fluid")
		div(class="navbar-header")
			span(class="navbar-brand") Swim
		div(class="navbar-collapse collapse")
			ul(class="nav navbar-nav")
				li
					a(href="/employees") Manage Employees
				li
					a(href="/editFlow") Edit Flow
				li
					a(href="/myTasks") View My Tasks
			div(class="navbar-form navbar-right")
				div(class="form-group")
					button(class="btn btn-success" type="submit" ng-disabled="!allowSave")
						span(ng-show="!loading") Saved
						span(ng-show="loading")
							i(class="fa fa-spinner fa-pulse") Saving